@reference "../../app.css";

@layer base {
	code[data-theme*=' '],
	code[data-theme*=' '] span {
		color: var(--shiki-light);
		background-color: var(--shiki-light-bg);
	}

	.dark code[data-theme*=' '],
	.dark code[data-theme*=' '] span {
		color: var(--shiki-dark);
		background-color: var(--shiki-dark-bg);
	}

	.prose {
		/* all */
		> * {
			@apply mt-4;
		}

		/* headers */
		:is(h1, h2, h3, h4, h5, h6) {
			@apply font-bold;
		}

		/* paragraph */
		p {
			@apply text-secondary leading-8;
		}

		/* links */
		*:not(h1, h2, h3, h4, h5, h6) a {
			@apply text-accent underline;
		}

		/* lists */
		ul > *,
		ol > * {
			@apply text-secondary mt-4;
		}
		ul:not(.contains-task-list) {
			@apply list-disc pl-4;
		}
		ol:not(.contains-task-list) {
			@apply list-decimal pl-4;
		}
		.task-list-item > input[type='checkbox'] {
			@apply mr-1 bg-white;
		}

		/* table */
		/* table {
            @apply w-full text-left shadow-xs rounded-md border border-separate bg-foreground text-sm border-spacing-0;
        }
        table * {
            @apply m-0
        }
        td, th {
            @apply border-l border-t p-2;
        }
        th {
            border-top: none;
        }
        td:first-child, th:first-child {
            border-left: none;
        } */
		table {
			@apply w-full text-left;
		}
		tbody tr {
			@apply border-t;
		}
		th,
		td {
			@apply p-2;
		}

		/* quotes */
		blockquote {
			@apply border-l-4 pl-4 font-medium italic;
		}
		blockquote p::before {
			content: '"';
		}
		blockquote p::after {
			content: '"';
		}

		/* alerts */
		.markdown-alert-title {
			@apply flex items-center gap-2 font-medium text-inherit;
		}
		.markdown-alert {
			@apply rounded border-l-4 border-current bg-current/5 fill-current py-2 pl-4;
		}
		.markdown-alert-note {
			@apply text-blue-500;
		}
		.markdown-alert-tip {
			@apply text-green-500;
		}
		.markdown-alert-important {
			@apply text-purple-500;
		}
		.markdown-alert-warning {
			@apply text-yellow-500;
		}
		.markdown-alert-caution {
			@apply text-red-500;
		}
	}
}
