@reference "$css";

@layer base {
	code[data-theme*=' '],
	code[data-theme*=' '] span {
		color: var(--shiki-light);
		background-color: var(--shiki-light-bg);
	}

	.dark code[data-theme*=' '],
	.dark code[data-theme*=' '] span {
		color: var(--shiki-dark);
		background-color: var(--shiki-dark-bg);
	}

	.prose {
		/* all */
		> * {
			@apply mt-4;
		}

		/* headers */
		:is(h1, h2, h3, h4, h5, h6) {
			@apply font-bold;
		}

		/* paragraph */
		p {
			@apply text-secondary leading-8;
		}

		/* lists */
		ul > *,
		ol > * {
			@apply text-secondary mt-4;
		}
		ul:not(.contains-task-list) {
			@apply list-disc pl-4;
		}
		ol:not(.contains-task-list) {
			@apply list-decimal pl-4;
		}
		.task-list-item > input[type='checkbox'] {
			@apply mr-1 bg-white;
		}

		/* quotes */
		blockquote {
			@apply border-l-4 pl-4 font-medium italic;
		}
		blockquote p::before {
			content: '"';
		}
		blockquote p::after {
			content: '"';
		}

		/* code */
		:not(pre) > code {
			@apply bg-foreground text-primary rounded border px-1 py-0.5 text-sm text-nowrap shadow-xs;
		}
		[data-rehype-pretty-code-figure] {
			@apply overflow-hidden rounded-md border shadow-xs;
		}
		[data-rehype-pretty-code-title] {
			@apply bg-foreground border-b p-2 text-sm font-bold;
		}
		[data-rehype-pretty-code-caption] {
			@apply text-secondary bg-foreground border-t p-2 text-sm;
		}
		[data-line] {
			@apply hover:bg-[color-mix(in_oklab,var(--color-background),#808080_25%)] inline-block px-4;
		}
		[data-line-numbers] {
			counter-reset: line;
		}
		[data-line-numbers] > [data-line] {
			@apply pl-0;
		}
		[data-line-numbers] > [data-line]::before {
			counter-increment: line;
			content: counter(line);
			@apply text-secondary/75;
		}
		[data-line-numbers-max-digits] {
			--w: attr(data-line-numbers-max-digits ch);
			& > [data-line]:hover::before {
				@apply bg-[color-mix(in_oklab,var(--color-background),#808080_35%)] text-primary;
			}
			& > [data-line]::before {
				width: calc(var(--w) + 2rem);
				@apply sticky left-0 inline-block px-4 text-right border-r mr-4 bg-block;
			}
		}
		[data-highlighted-line] {
			@apply !bg-accent/10;
		}
	}
}
