@import '$css';

@theme {
	--spacing-docs-header-main: 3rem;
	--spacing-docs-header-mobile: 2rem;
	--spacing-docs-header-tabs: 2rem;
	--spacing-docs-header-secondary: var(--spacing-docs-header-mobile);
	--spacing-docs-header-main-border: 1px;
	--spacing-docs-header-secondary-border: 1px;
	--spacing-docs-header: calc(
		var(--spacing-docs-header-main) + var(--spacing-docs-header-secondary) +
			var(--spacing-docs-header-main-border) + var(--spacing-docs-header-secondary-border)
	);
}

@layer utilities {
	[data-docs-tabs='true'] {
		@apply sm:[--spacing-docs-header:calc(var(--spacing-docs-header-main)+var(--spacing-docs-header-secondary)+var(--spacing-docs-header-main-border))];
		@apply sm:[--spacing-docs-header-secondary:var(--spacing-docs-header-tabs)];
	}

	[data-docs-tabs='false'] {
		@apply sm:[--spacing-docs-header:calc(var(--spacing-docs-header-main)+var(--spacing-docs-header-main-border))];
	}
}

@layer base {
	.prose {
		/* all */
		> * {
			@apply mt-4;
		}

		/* lists */
		ul > *,
		ol > * {
			@apply text-muted-foreground mt-4;
		}
		ul:not(.contains-task-list) {
			@apply list-disc pl-4;
		}
		ol:not(.contains-task-list) {
			@apply list-decimal pl-4;
		}
		.task-list-item > input[type='checkbox'] {
			@apply mr-1;
		}
	}
}
