@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* default theme */
@theme {
	--font-inter: 'Inter', var(--default-font-family);
	--spacing-header: 3.5rem;
	--spacing-sidebar-nav: 18rem;
	--spacing-sidebar-toc: 14rem;

	/* light mode colors */
	--color-background: var(--color-zinc-50);
	--color-foreground: var(--color-zinc-100);
	--color-border: var(--color-zinc-200);
	--color-primary: var(--color-zinc-800);
	--color-secondary: var(--color-zinc-600);
	--color-accent: var(--color-blue-600);
}

@layer base {
	.dark {
		/* dark mode colors */
		--color-background: var(--color-zinc-950);
		--color-foreground: var(--color-zinc-900);
		--color-border: var(--color-zinc-800);
		--color-primary: var(--color-zinc-200);
		--color-secondary: var(--color-zinc-400);
		--color-accent: var(--color-blue-400);
	}
}

@layer utilities {
	.container {
		@apply mx-auto max-w-[1440px];
	}
}

@layer base {
	/* ensure hrefs to elements are not hidden by the header when clicking them */
	html {
		@apply scroll-pt-[calc(var(--spacing-header)+1px+1rem)];
	}

	body {
		@apply bg-background text-primary font-inter flex min-h-dvh flex-col;
	}

	* {
		@apply border-border;
	}

	a,
	button {
		@apply cursor-pointer;
	}

	mark {
		@apply text-accent bg-transparent underline;
	}

	input[type='search']::-webkit-search-cancel-button {
		@apply cursor-pointer;
	}

	.scrollbar {
		scrollbar-width: thin;
		scrollbar-color: var(--color-border) transparent;
	}
}
