@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-inter: 'Inter', var(--default-font-family);

	--color-background: var(--color-zinc-50);
	--color-foreground: var(--color-zinc-100);

	--color-border: var(--color-zinc-200);

	--color-primary: var(--color-zinc-800);
	--color-secondary: var(--color-zinc-600);

	--color-accent: var(--color-amber-500);

	--spacing-header: 3rem;
	--spacing-sidebar: 18rem;
}

@layer utilities {
	.container {
		@apply mx-auto max-w-[1440px];
	}
}

@layer base {
	.dark {
		--color-background: var(--color-zinc-950);
		--color-foreground: var(--color-zinc-900);

		--color-border: var(--color-zinc-800);

		--color-primary: var(--color-zinc-200);
		--color-secondary: var(--color-zinc-400);
	}
	* {
		@apply border-border;
	}

	a,
	button {
		@apply cursor-pointer;
	}

	body {
		@apply bg-background text-primary font-inter min-h-dvh flex flex-col;
	}

	kbd {
		@apply font-inter;
	}

	mark {
		@apply text-accent bg-transparent underline;
	}

	.scrollbar {
		scrollbar-width: thin;
		scrollbar-color: var(--color-border) transparent;
	}

}
